.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  display: inline-flex;
  margin: 0 0 10px;
  transition: all .3s;
}
.footer__column-link:hover {
  opacity: 0.8;
}
