.kaufman__triangle {
  position: absolute;
  right: -210px;
  /* Информация из чек листа, но в брифе Веб+ её нет. "У элементов с абсолютным позиционированием заданы координаты по двум осям." */
  top: 0;
  background-image: url(../../../images/kaufman-triangle.svg);
  /* В брифе нет размерности блока, поэтому взял из демонстрационного брифа */
  height: 877px;
  width: 877px;
  background-size: cover;
}
