.kaufman__triangle {
  position: absolute;
  right: -210px;
  /* Информация из чек листа, но в брифе Веб+ её нет. "У элементов с абсолютным позиционированием заданы координаты по двум осям." */
  top: 0;
}
